
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Pretendard-Regular';
}
.main_bg{
  height :400px;
  width: 100%;
  background-size : cover;
  background-position : center;
}

.navbar_text{
  color:black;
  text-decoration: none;
  padding-left: 10px;
}

.start {
  opacity : 0;
}
.end {
  opacity : 1;
  transition: all 1s;
}